* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #333;
}

.music-player {
    background: #ffe0e5;
    padding: 25px 35px;
    width: 400px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #fff;

    color: #f53192;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.song-image {
    width: 220px;
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
    margin-bottom: 30px;

}

.music-player h1 {
    font-size: 20px;
    color: #333;
    font-weight: 400;
    margin-top: 20px;
}

.music-player p {
    font-size: 14px;
    color: #333;
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;

}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: #f53192;
    border-radius: 50%;
    cursor: pointer;
    margin: 40px 0;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);


}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls div {
    height: 60px;
    width: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f35192;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;

}

.controls div:nth-child(2) {
    transform: scale(1.5);
    background: #f53192;
    color: #fff;
}