* {
    margin: 0;
    padding: 0;
    font-family: 'poppines', 'sans-seif';
    box-sizing: border-box;

}

body {
    background: #001e4d;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 30px;
    border-radius: 10px;
}

.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 30px;

}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    font-weight: 600;
    color: #001e4d;
}

.btn {
    background: #fff;
    font-weight: 500;
    color: #222;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3em;

}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor:no-drop;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: none;
    margin: 20 auto 0;
    padding: 10px;
    width: 150px;
    align-items: center;
}

.correct {
    background: #9aeabc;

}

.incorrect {
    background: #ff9393;
}