* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background: #f7edff;
}

.buttons {
    margin: 50px;
}

.buttons button {
    margin: 10px;
    padding: 10px;
    background: #333;
    color: #fff;
    border: 0;
    outline: 0;
    width: 120px;
    height: 40px;
    cursor: pointer;
}


#toast-box {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.toast {
    height: 80px;
    width: 500px;
    background: white;
    color: black;
    margin: 15px 0;
    box-shadow: 0 0 10px rgba(15, 8, 8, 0.1);
    display: flex;
    align-items: center;
    font-weight: 500;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;

}

@keyframes moveleft {
    100% {
        transform: translateX(0%);
    }
}

.toast i {
    margin: 20px;
    font-size: 35px;
    color: green
}

.toast.error i {
    color: red;
}

.toast.invalid i {
    color: orange;
}

.toast::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
}

@keyframes anim {
    100% {
        width: 0;
        /* here over this frame not directly get to the zero instade it will be gradyully get to the zero over here to be  */
    }
}

.toast.error::after {
    background: red;
}

.toast.invalid::after {
    background: orange;
}