* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container {
    background: linear-gradient(45deg, blue, red);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.input-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

textarea {
    border: none;
    outline: none;
    background: #482f2f8f;
    height: 253px;
    width: 488px;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    font-size: 16px;
}

#select {
    width: 397px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #482f2f8f;
    margin: 15px 0;
    color: #fff;
}

.row button {
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 15px 0;
    padding: 1px 2px;
    height: 40px;
    width: 87px;
    background: rgb(233, 129, 50);

}

h1 {
    font-size: 40px;
    margin: 16px 0;
    font-weight: 700;
    color: #fff;
}

h1 span {
    color: rgb(29, 29, 202);
}