* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-Box;
}

body {
    background: #eaedff;

}

.stopwatch {
    width: 90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/background.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    margin: 200px auto 0;
    color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.stopwatch h1 {
    font-size: 64px;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 300;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons img {
    width: 50px;
    cursor: pointer;
    margin: 0 20px;
}

.buttons img:nth-child(2) {
    width: 80px;
}