* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}

body {
    background: #002339;
    color: #fff;
}

body {
    margin: 12%;
    width: 90%;
    max-width: 700px;

}
.display
{
    width: 100%;
    border-radius: 5px;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #333;
    padding: 26px 20px;
}
.container h1{
    font-weight:500;
    font-size:45px;
}
.container h1 span{
    color:greenyellow;
    border-bottom:4px solid greenyellow;
    padding:7px;
} 
.display img{
    width:30px;
    cursor:pointer;
}
.display input 
{
    border:0;
    outline:0;
    font-size:24px;
}
.container button img{
    width:28px;
    margin-right:28px;
}
.container button{
    border: 0;
    outline: 0;
    padding: 16px 26px;
    cursor: pointer;
    /* display: flex; */
    background: #019555;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center
}
